.game-list-card-member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-list-member-card-img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

.game-list-member-card-nickname {
    font-weight: bold;
    margin: 0.5rem 0 0 0;
    text-align: center;
}

.game-list-member-additional-info {
    font-size: 0.7em;
    margin: 0;
    text-align: center;
}

.game-list-join-card-button {
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

.game-list-current-lobby {
    display: flex;
}

.game-list-current-lobby-avatar {
    align-self: center;
    border-radius: 100%;
    width: 100%;
}

.center-align {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
}

.not-ready-status {
    border: 2px solid #ce0000;
}

.ready-status {
    border: 2px solid #07ce00;
}

.game-list-current-lobby-name {
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.star {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}