.welcome-image {
    background: #228DB7;
    height: 426px;
}

@media screen and (max-width: 935px) {
    .welcome-image {
        display: none;
    }
}

.welcome-card {
    border: none;
}

.welcome-card-body {
    padding: 1rem 0 0 0;
}

.welcome-card-title {
    font-weight: bold;
    text-align: center;
}
