.game-container {
    /*background: rgb(62, 91, 75);*/
    background: #1f1f1f;
}

.game-map {
    aspect-ratio: 1/1;
    flex-wrap: wrap;
    height: 100vh;
}

.game-cell {
    position: relative;
    height: 7.69%;
    width: 7.69%;
}

.game-cell-img {
    aspect-ratio: 1/1;
    border-radius: 10%;
    padding: 2%;
    position: absolute;
    width: 100%;
}

.game-cell-container {
    aspect-ratio: 1/1;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.game-cell-object-container {
    aspect-ratio: 1/1;
    position: relative;
    width: 100%;
}

.game-cell-object {
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    width: 40%;
}

.choosed-cell {
    border: 2px solid #c01616;
}

.with-money {
    border: 2px solid #ffc400;
}

.coin {
    font-size: 2.2vh;
    left: 66%;
    position: absolute;
    top: 1%;
}

.next-direction-cell {
    border: 2px solid #4dd6ff;
}

.side-panel-info {
    position: absolute;
    left: 0;
    max-width: 25%;
    max-height: 100vh;
    overflow: auto;
    padding: 1%;
    top: 0;
    width: 25%;
}

.player-card {
    background: #171717;
    color: #d2d2d2;
}

.player-card-img {
    align-self: center;
    border-radius: 100%;
    width: 100%;
}

.player-card-img-container {
    padding: 1vh;
    max-width: 20vh;
}

.player-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh;
    width: 75vh;
    max-width: 75vh;
}

.player-card-info-name {
    font-size: 3vh;
    font-weight: bold;
    word-break: break-word;
}

.player-card-info-text {
    font-size: 2.75vh;
}

.turn-panel-info {
    display: flex;
    justify-content: center;
    height: 100vh;
    max-width: 25%;
    overflow: auto;
    padding: 1%;
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
}

.turn-panel-info-text {
    align-self: center;
    color: #d9af0c;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}